@import url("https://fonts.googleapis.com/css?family=Lato:regular,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Lora:regular,500,700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 20px;
}

.header {
  padding-top: 62px;
  padding-bottom: 55px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-family: "Lora", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  color: #10375c;
  margin-right: 184px;
}

.header__menu {
  min-width: 562px;
  margin-right: 81px;
}

.menu-header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-header__link {
  font-size: 16px;
  color: #222831;
  font-weight: 700;
  font-style: normal;
  line-height: 28px;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 19px;
  color: #ff5722;
  padding: 12px 24px;
}

.header__link:hover {
  background-color: #ff5722;
  color: #fff;
  -webkit-box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
          box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
}

.wrapper {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

.block-title__intro {
  color: #222831;
  position: relative;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 8px;
}

.block-title__intro::after {
  content: "";
  width: 73px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: #222831;
  left: 116px;
  top: 18px;
}

.block-title {
  margin-bottom: 110px;
}

.block-title__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-title__col:nth-child(1) {
  -ms-flex-preferred-size: 667px;
      flex-basis: 667px;
}

.block-title__col:nth-child(2) {
  -ms-flex-preferred-size: 382px;
      flex-basis: 382px;
}

.block-title__title h1 {
  font-family: Lora;
  font-size: 52px;
  line-height: 67px;
  font-weight: 700;
  color: #10375c;
}

.block-title__title h1 > span {
  color: #dd2c00;
}

.block-title__subtitle {
  padding-top: 12px;
}

.block-title__subtitle > p {
  color: #6a6a6a;
  line-height: 150%;
}

.block-spaces {
  margin-bottom: 110px;
}

.block-spaces__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 56px;
}

.block-spaces__title {
  margin-right: 164px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.block-spaces__title h2 {
  font-family: Lora;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 127.5%;
  color: #10375c;
}

.block-spaces__subtitle {
  -ms-flex-preferred-size: 452px;
      flex-basis: 452px;
  margin-right: 109px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.block-spaces__subtitle p {
  font-size: 18px;
  line-height: 155.5%;
  color: #9a9a9a;
}

.block-spaces__control {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.block-spaces__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.block-spaces__col {
  -ms-flex-preferred-size: 31.53%;
      flex-basis: 31.53%;
}

.col-spase__img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.col-spase__img {
  margin-bottom: 25px;
}

.col-spase__btn a {
  width: 72px;
  height: 72px;
  display: block;
  background: #ff5722;
  position: absolute;
  top: 348px;
}

.col-spase__text p {
  color: #222831;
  font-weight: 700;
  text-align: center;
}

.col-spase-private {
  background-color: #10375c;
  color: white;
  padding: 0 50px;
  padding-top: 138px;
  position: relative;
}

.col-spase-private h3 {
  font-family: Lora;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  text-align: center;
  margin-bottom: 14px;
}

.col-spase-private p {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.col-spase-private__btn a {
  color: white;
  display: block;
  background: #ff5722;
  position: absolute;
  font-size: 18px;
  line-height: 22px;
  padding: 25px 73px 25px 53px;
  bottom: 0px;
  left: 0;
}

.block-whyfrispes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 110px;
}

.block-whyfrispes__items {
  -ms-flex-preferred-size: 48.65%;
      flex-basis: 48.65%;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.block-whyfrispes__info {
  -ms-flex-preferred-size: 48.65%;
      flex-basis: 48.65%;
  padding: 53px;
  background-color: #10375c;
  color: white;
}

.info-whyfrispes__header p {
  line-height: 150%;
  position: relative;
  margin-bottom: 18px;
}

.info-whyfrispes__header p::after {
  content: "";
  width: 73px;
  height: 2px;
  display: block;
  background-color: white;
  position: absolute;
  left: 125px;
  top: 18px;
}

.info-whyfrispes__header h2 {
  font-family: Lora;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  margin-bottom: 24px;
}

.info-whyfrispes__text p {
  line-height: 150%;
}

.block-whyfrispes__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-whyfrispes__item {
  -ms-flex-preferred-size: 41%;
      flex-basis: 41%;
}

.item-whyfrispes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-whyfrispes__text {
  font-size: 16px;
  line-height: 26px;
  color: #9a9a9a;
}

.item-whyfrispes__number {
  font-family: lora;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  color: #10375c;
  margin-bottom: 8px;
}

.item-whyfrispes__img {
  margin-right: 24px;
  margin-top: 5px;
}